# Core dependencies
opencv-python-headless>=4.10.0
numpy>=2.2.6
setuptools==80.9.0
pydantic==2.12.5

# Streamlit dependencies
Pillow<12.0.0,>=7.1.0
streamlit==1.50.0
streamlit_image_coordinates==0.4.0
streamlit_webrtc==0.64.5
av==16.0.1

# Lane Detection Package
git+https://github.com/ShaneTeel/lane-detection-classic.git@main#egg=lane_detection